/*TODAS*/

body{
    width: 960px;
    margin: 0 auto;
    
}

header {
    background-color: rgb(207, 232, 240);
    height: 80px;
    border-radius: 10px;
}

#meiodoheader{
    height: 20px;
    padding: 25px;
    
}

#meiodoheader div {
    float: left;
    font-weight: 900;
    font-size: 25px;
}

#meiodoheader div span {
    color: #e776a5;
    
}

#meiodoheader nav {
    float: right;
}

#meiodoheader nav a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    width: 100px;
    text-align: right;
    height: 20px;
    padding: 5px;
    border-radius: 10px;
}

#meiodoheader nav a:hover {
    background-color: #e776a5;
}

footer {
    background-color: rgb(207, 232, 240);
    color: black;
    height: 10px;
    text-align: center;
    padding: 15px;
}

/*CONTATO*/

.tudo{
    margin: 0 auto;
    width: 500px;
}

.formulario{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 200px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFF0F5;
    border-radius:50px 20px;   
    
}

.inform span{
text-shadow: 2px 2px 8px rgb(241, 4, 4);
}

.meucontato{
text-align: center;
}
.formulario textarea { 
    resize: none;

}

/*FOTOS*/

.Fotos{
    text-align: center;
    background-color: rgb(207, 232, 240);
    overflow: auto;
    width: 100%;
    height: 400px;
}

.textosFotos span{
    color: #e776a5;
}

.listas{
    width: 300px;
    text-align: center;
    margin-left: 350px;
    padding-left: 0px;
}

.listas span {
    color: #000000;
    text-shadow: 2px 2px 8px rgb(90, 195, 230);
    
}

/*PÁGINA INDEX*/


#fotoprincipal{
   text-align: center;
   padding: 3px;
   border-radius: 200px;
}

#fotoprincipal img{
    border-radius: 10px;
}

#fotoprincipal small {
    margin-top: 10px;
    display: block;
}

#colunadefotos{
    border: inset 5px  rgb(207, 232, 240);
    
}

article {
    width: 150px;
    text-align: center;
    display: inline-table;
    padding: 30px;
    padding: 40px;
    
}

article p {
    font-size: 10pt;
}
.mara p span{
    color: black;
    text-shadow: 2px 2px 4px #000000;
}






